.report-container {
  width: 100%;
  height: 100%;
  min-height: 300px;
  border: 1px solid black; /* 두께, 스타일, 색상을 모두 지정 */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  border-radius: 10px;
  border-width: 2px;
  flex-direction: column;
  padding-bottom: 10px;
}

.score-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.link {
  display: flex;
  justify-content: flex-end;
}

.player-position {
  text-align: center;
  flex-direction: column;
}

.position-line {
  margin: 12px 0px;
}

.my-team-container {
  width: auto;
  text-align: center;
  color: blue;
  font-weight: bold;
  font-size: 20px;
}

.enemy-team-container {
  width: auto;
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.report-page {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  border: 2px 0px 0px 0px solid black;
  margin: 0;
  padding: 0;
}

.player-team {
  width: 40%;
  flex-direction: column;
  justify-content: space-evenly;
}

.enemy-team {
  width: 40%;
  flex-direction: column;
  justify-content: space-evenly;
}

.team-item {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 5px;
}

.team-item:hover {
  background-color: #e9e9e9;
  cursor: pointer;
}

.rotated-line {
  width: 2px;
  background-color: #e9e9e9;
  padding-top: 5px;
  padding-bottom: 5px;
}

.champion-profile {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 3px solid black;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  position: relative;
  width: 50%;
  height: auto;
  padding: 20px;
  display: flex;
}
