.detail-container {
  width: 100%;
  height: 350px;
  border: 1px solid black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  border-radius: 10px;
  border-width: 2px;
  flex-direction: column;
}

.container-header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-title {
  display: flex;
  font-size: 24px;
}

.header-link {
  position: absolute;
  right: 5%;
}

.detail-main {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  /* 삭제예정 */
  border: 1px solid black;
}

.main-position-section {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.position-box {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

.position-img {
  max-width: 30px;
  max-height: 30px;
}

.team-section {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.team-item {
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 5px;
}

.team-item:hover {
  background-color: #e9e9e9;
  cursor: pointer;
}

.rotated-line {
  width: 2px;
  background-color: black;
  height: 90%;
  margin: auto 1%;
}

.champion-img {
  width: 36px;
  height: 36px;
  border-radius: 50px;
}

.user-detail {
  width: 30%;
  font-size: 12px;
}
.user-point {
  width: 20%;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  position: relative;
  width: 50%;
  height: auto;
  padding: 20px;
  display: flex;
}
