.detail-container {
  width: 100%;
  height: 350px;
  border: 2px solid gold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  border-radius: 10px;
  flex-direction: column;
  background: #ffffff;
  color: black;

  box-sizing: border-box;
}

.container-header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4px;
  font-size: 24px;
  font-weight: 600;
}

.score-bar {
  display: flex;
  height: 40px;
  width: 96%;
  min-width: 700px;
  text-align: center;
  font-weight: 600;
  border-radius: 4px;
  border: 3px solid black;
  overflow: hidden; /* 텍스트가 막대 영역 밖으로 넘치지 않도록 */
  gap: 2px;
  background-color: black;
}

.team-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.win-bar {
  background-color: #70b6f7;
  /* background-color: #99cbfa; */
}

.lose-bar {
  background-color: #f99fd0;
  /* background-color: #fdddef; */
}

.detail-main {
  width: 100%;
  height: 80%;
  display: flex;
  border-radius: 10px;
}

/* 기본 팀 섹션 스타일 - 배경색과 텍스트 효과 제거 */
.blue-team-section,
.red-team-section {
  width: 100%;
  min-width: 400px;
  display: flex;
  border-radius: 10px;
  text-align: center;
  color: white;
}

/* 승리한 팀의 배경색 및 텍스트 스타일 */
.win {
  background-color: #99cbfa; /* 이긴 팀의 배경색 */
  color: white;
  text-shadow: -1px -1px 0 #0d47a1, 1px -1px 0 #0d47a1, -1px 1px 0 #0d47a1,
    1px 1px 0 #0d47a1;
}

/* 패배한 팀의 배경색 및 텍스트 스타일 */
.lose {
  background-color: #fdddef; /* 진 팀의 배경색 */
  color: white;
  text-shadow: -1px -1px 0 rgb(255, 89, 89), 1px -1px 0 rgb(255, 89, 89),
    -1px 1px 0 rgb(255, 89, 89), 1px 1px 0 rgb(255, 89, 89);
}

/* Hover 효과 - 승리와 패배에 따라 다르게 설정 */
.win .team-item:hover {
  background-color: #70b6f7; /* 승리한 팀의 아이템 호버 색상 */
  border-radius: 10px;
}

.lose .team-item:hover {
  background-color: #f99fd0; /* 패배한 팀의 아이템 호버 색상 */
  border-radius: 10px;
}

.main-position-section {
  width: 10%;
  min-width: 40px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.position-box {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

.position-img {
  width: 30px;
  height: 30px;
  filter: grayscale(100%);
}

.team-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.team-item {
  width: calc(100% - 10px);
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  padding: 4px;
  box-sizing: border-box; /* padding과 border 포함 */
  overflow: hidden; /* 넘침 방지 */
}

.team-item:hover {
  cursor: url("../../assets/cursor/hover-cursor.png"), pointer;
}

.rotated-line {
  width: 1px;
}

.champion-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid gold;
  background-size: 120%;
  background-position: center;
}

.user-detail {
  width: 25%;
  font-size: 16px;
}
.user-point {
  width: 25%;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-content {
  border-radius: 10px;
  position: relative;
  width: 50%;
  height: auto;
  padding: 20px;
  display: flex;
  transform: translateY(100%); /* 시작 위치 */
  opacity: 0; /* 시작 투명도 */
  transition: transform 1s ease, opacity 1s ease;
  background-color: #1f1f1f;
  border: 2px solid goldenrod;
  color: #508fe2;
}

.modal-content.open {
  animation: slideUp 0.7s ease forwards; /* 슬라이드 업 애니메이션 */
}
