.detail-container {
  width: 100%;
  height: 350px;
  border: 2px solid goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-radius: 10px;
  flex-direction: column;
  background: #e9e9e9;
  color: black;

  box-sizing: border-box;
}

.container-header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-title {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  padding-top: 5px;
}

.blue-team-score {
  color: blue;
  padding-right: 24px;
}
.blue-team-score span {
  font-size: 20px;
  margin-right: 8px;
}
.red-team-score {
  color: red;
  padding-left: 24px;
}
.red-team-score span {
  font-size: 20px;
  margin-left: 8px;
}

.header-link {
  position: absolute;
  right: 5%;
}

.detail-main {
  width: 100%;
  height: 80%;
  display: flex;
  border-radius: 10px;
}

.blue-team-section {
  width: 100%;
  min-width: 400px;
  display: flex;
  border-radius: 10px;
  background-color: #99cbfa;
  text-align: center;
  border-radius: 10px;
  
  color: white;
  text-shadow: 
    -1px -1px 0 #0d47a1, /* 위 왼쪽 */
    1px -1px 0 #0d47a1, /* 위 오른쪽 */
    -1px 1px 0 #0d47a1,  /* 아래 왼쪽 */
    1px 1px 0 #0d47a1;   /* 아래 오른쪽 */
}
.blue-team-section .team-section :hover {
  background-color: #70b6f7;
  border-radius: 10px;

}

.red-team-section {
  width: 100%;
  min-width: 400px;
  display: flex;
  border-radius: 10px;
  background-color: #fdddef;
  text-align: center;
  border-radius: 10px;
  
  
  color: white;
  text-shadow: 
    -1px -1px 0 rgb(255, 89, 89), /* 위 왼쪽 */
    1px -1px 0 rgb(255, 89, 89),
    -1px 1px 0 rgb(255, 89, 89),
    1px 1px 0 rgb(255, 89, 89),
}
.red-team-section .team-section :hover {
  background-color: #f99fd0;
  border-radius: 10px;
}
.main-position-section {
  width: 10%;
  min-width: 40px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.position-box {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

.position-img {
  width: 30px;
  height: 30px;
  filter: grayscale(100%);
}

.team-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.team-item {
  width: calc(100% - 10px);
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box; /* padding과 border 포함 */
  overflow: hidden; /* 넘침 방지 */
}

.team-item:hover {
  cursor: url("../../assets/cursor/hover-cursor.png"), pointer;
  
}

.rotated-line {
  width: 1px;
}

.champion-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid gold;
  background-size: 120%;
  background-position: center;
}

.user-detail {
  width: 30%;
  font-size: 17px;
}
.user-point {
  width: 20%;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-content {
  border-radius: 10px;
  position: relative;
  width: 50%;
  height: auto;
  padding: 20px;
  display: flex;
  transform: translateY(100%); /* 시작 위치 */
  opacity: 0; /* 시작 투명도 */
  transition: transform 1s ease, opacity 1s ease;
  background-color: #1f1f1f;
  border: 2px solid goldenrod;
  color: #508fe2;
}

.modal-content.open {
  animation: slideUp 0.7s ease forwards; /* 슬라이드 업 애니메이션 */
}
