.profile-container {
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  color: #fff;
}

.profile-info {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 16px 0;
  gap: 16px;
}

.profile-icon {
  width: 80px;
  height: 80px;
  border: 2px solid gold;
  border-radius: 8px;
}

.profile-descriptions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.profile-nickname {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  margin: auto;
  width: 100%;
}

.profile-nickname span {
  font-size: 16px;
  color: #8c8c8c;
  margin: auto 0 0 8px;
}

.profile-level {
  font-size: 20px;
  margin: 8px 0 auto;
  font-weight: 600;
}

.rank-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rank-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2c2c2c;
  padding: 12px;
  border-radius: 8px;
}

.rank-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.rank-tier {
  width: 100px;
  height: 100px;
}

.rank-tier img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rank-record {
  font-size: 16px;
  font-weight: 500;
}

.refresh-button {
  margin: 11px 0 auto;
  background-color: #1f1f1f;
  color: white;
  font-weight: bold;
  font-family: 'Arial', sans-serif; /* 숫자와 텍스트에 동일한 글꼴 지정 */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 5px;
  cursor: url('../../assets/cursor/hover-cursor.png'), pointer;
}

.refresh-button:hover {
  background-color: #616060;
}

.refresh-button:disabled {
  background-color: #616060; /* hover 상태에서도 배경색 유지 */
  font-size: inherit; /* 부모 스타일 유지 */
  font-weight: inherit;
}
