.profile-container {
  width: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}

.profile-info {
  display: flex;
}

.profile-most3 {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-left: 10px;
  justify-content: start;
  align-items: center;
}

.profile-most3 img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 3px solid gold;
  object-fit: cover;
}

.rank-info {
  display: flex;
  width: 100%;
  border: 1px solid black;
  flex-direction: column;
}

.rank-box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
}

.rank-tier {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  object-fit: cover;
}
