.modal-container {
  width: 100%;
  display: flex;
  z-index: 999;
  text-align: center;
  padding-block: 20px;
  gap: 30px;
}

.position-point {
  width: 100%;
  flex-direction: column;
  padding-block: 10px;
}

.common-point {
  margin-top: 20px;
  flex-direction: column;
}

.champion-profile-detail {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  border: 1px solid black; 
}

.champion-name {
  font-weight: bold;
  font-size: 25px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 7px;
}

.score-item {
  justify-content: space-between;
  padding-inline: 20px;
  margin-bottom: 15px;
  padding-block: 5px;
  border-radius: 15px;
}

.score-item:hover{
  background-color: #efefef;
  size: 10px;
}

.common-score {
  font-weight: bold;
  font-size: 20px;
  color: green;
}

.low-score {
  font-weight: bold;
  font-size: 20px;
  color: red;
}

.great-score {
  font-weight: bold;
  font-size: 20px;
  color: gold;
}

.report-graph {
  border: 2px solid #efefef;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  padding:10px;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
