.champions-container {
  display: flex;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.4); /* 반투명 오버레이 */
}

.champion-list {
  margin: 3%;
  width: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.champion-details {
  position: sticky;
  top: 0;
  width: 50%;
  height: 100vh;
  background-color: black;
}

.champion-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.champion-item img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border: 1px solid gold;
  border-radius: 12px;
  cursor: url("../assets/cursor/hover-cursor.png"), pointer;
  filter: grayscale(100%);
}

.champion-item:hover img {
  filter: grayscale(0%);
}

.champion-item.selected img {
  filter: grayscale(0%);
}

.champion-item p {
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.champion-item:hover p {
  color: gold;
}

.champion-item.selected p {
  color: gold;
}
