.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 4px;
  padding: 4px;
}

.link {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.record-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

button {
  width: 150px;
  margin-left: 24px;
}

.gamerecord-content {
}
