.main-container {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-intro {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.main-title {
  font-size: 4rem;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.main-form-area {
  width: 50%;
  height: 50%;
  min-width: 400px;
  max-width: 600px;
  min-height: 200px;
  max-height: 300px;
  margin-bottom: 5%;
}
