.main-container {
  display: flex;
  width: 100%; /* 전체 너비 사용 */
  height: 100vh; /* 화면 전체 높이 사용 */
  flex-direction: column; /* 요소를 세로로 배치 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}
