/* General Container Styling */
.statistics-container {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Header Section */
.statistics-header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* Tier Selection Section */
.statistics-header-tier {
  margin-top: 50px;
  margin-bottom: 4px;
  width: 80%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.header-tier-icon {
  width: 64px;
  height: 64px;
  cursor: url("../assets/cursor/hover-cursor.png"), pointer;
  filter: grayscale(100%);
}

.header-tier-icon.selected,
.header-tier-icon:hover {
  filter: grayscale(0%);
}

/* Message Section */
.statistics-header-msg {
  margin: 4px auto 12px;
  color: white;
}

.statistics-header-msg span {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

/* Division Button Section */
.statistics-header-division {
  display: flex;
  justify-content: center;
  margin: 0 8px;
  gap: 4px;
}

.header-division-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background-color: white;
  font-size: 12px;
  cursor: url("../assets/cursor/hover-cursor.png"), pointer;
}

.header-division-btn.selected,
.header-division-btn:hover {
  background-color: #70b6f7;
  color: white;
}

/* Search Section */
.search-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 4px auto 16px;
}

.search-input {
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px;
}

.search-button {
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: url("../assets/cursor/hover-cursor.png"), pointer;
  width: 80px;
  padding: 10px;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Table Section */
.champions-table {
  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #333;
  border-radius: 12px;
  align-items: center;
  background-color: #2c2c2c;
  color: #fff;
}

.champions-table th,
.champions-table td {
  padding: 10px;
  text-align: center;
  border: none;
  font-size: 16px;
  flex-grow: 1;
}

.champions-table th {
  border-bottom: 1px solid #fff;
}

.champions-table th {
  cursor: url("../assets/cursor/hover-cursor.png"), pointer;
}

.table-champion-info {
  color: white;
  display: flex;
  align-items: center;
  justify-self: start;
  width: 100%;
}

.table-champion-info:hover {
  cursor: url("../assets/cursor/hover-cursor.png"), pointer;
  background-color: #99cbfa;
  color: black;
}

.table-champion-info div {
  display: flex;
  margin-left: 24px;
  align-items: center;
}

.table-champion-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid gold;
}

.table-champion-name {
  margin-left: 18px;
  font-weight: 600;
}

.highlighted-row {
  background-color: #f99fd0;
}

/* Modal Section */
.statistics-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.statistics-modal-content {
  border-radius: 10px;
  position: relative;
  width: 38%;
  height: auto;
  padding: 20px;
  display: flex;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  background-color: #1f1f1f;
  border: 2px solid goldenrod;
  color: #508fe2;
}

.statistics-modal-content.open {
  animation: slideUp 0.7s ease forwards;
}
