.info-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 5%;
  width: 100%;
}

.loading-spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  margin-top: 50%;
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #fff;
  border-radius: 50%;
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.info-content {
  position: relative;
  margin: 5% 0;
  height: 90%;
  background: rgba(0, 0, 0, 0.4);
  color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eye-btn {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-name {
  margin: 2% 0;
  padding: 0;
  font-size: 30px;
  cursor: url("../../assets/cursor/hover-cursor.png"), pointer;
  text-decoration: underline;
}

.info-title {
  margin: 2% 0;
  padding: 0;
  font-size: 20px;
}

.spells-container {
  width: 90%;
  margin: 2% 0;
  display: flex;
  justify-content: center;
}

.spell-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spell-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  transition: transform 0.2s ease;
  cursor: url("../../assets/cursor/hover-cursor.png"), pointer;
}

.spell-item img:hover {
  transform: scale(1.1);
}

.selected-spell img {
  border: 2px solid gold;
  transform: scale(1.1);
}

.spell-video {
  width: 90%;
  margin: 2% auto;
  object-fit: cover;
  cursor: url("../../assets/cursor/hover-cursor.png"), pointer;
}

.item-description {
  margin: 2%;
  padding: 0 5%;
  font-size: 18px;
  overflow-y: auto;
  scrollbar-width: none;
}

.skin-selector {
  position: absolute;
  bottom: 1%;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.skin-dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  cursor: url("../../assets/cursor/hover-cursor.png"), pointer;
}

.skin-dot.active {
  background-color: red;
}
