.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid pink;
}
.form-main {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-field {
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 20px;
  align-items: center;
}

.form-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background-color: #99cbfa;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.form-button:hover {
  background-color: #70b6f7;
  cursor: url("../../assets/cursor/hover-cursor.png"), pointer;
}

.toggle-msg {
  display: flex;
  font-size: 22px;
  color: white;
  padding: 0;
  margin-bottom: 20px;
  cursor: url("../../assets/cursor/hover-cursor.png"), pointer;
  gap: 8px;
}

.toggle-msg span {
  font-size: 20px;
  margin: auto;
}
